Repository EsmaeelEmadi/ts-exc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
	"*.json": "prettier --write"
}

feat(setup): add core option to git scopes
  commitlint.config.js
  cz.config.js
Due: eslint --fix, prettier --write

feat(core): add base middleware handling with use and run methods
  src/core/middleware/BaseMiddleware.ts
  src/core/middleware/Middleware.ts
Due: eslint --fix, prettier --write

feat(core): add base exception handling with middleware support
  src/core/exception/BaseException.ts
  src/core/exception/Exception.ts
Due: eslint --fix, prettier --write

refactor(setup): remove package-lock.json in order to replace it pnpm
  package-lock.json
Due: prettier --write

feat(setup): add vitest
  package.json
Due: prettier --write

feat(deps): install packages using pnpm
  pnpm-lock.yaml
Due: none

feat(config): add vitest config
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(core): init Exception
  src/core/baseException/BaseException.ts
  src/core/exception/Exception.spec.ts
  src/core/exception/Exception.ts
  src/core/types.ts
Due: eslint --fix, prettier --write

chore(setup): remove prettier and eslint
  .prettierrc.yaml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(setup): add biome package and config
  biome.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docs): project urls
  package.json
Due: prettier --write

feat(ci): init github workflow for releases
  .github/workflows/release.yml
Due: none

feat(setup): add lit-staged section
  package.json
Due: prettier --write

feat(setup): prepare for github action and npm publish on github releases
  release.config.mjs
Due: none

fix(ci): fix ci process
  .github/workflows/release.yml
Due: none

chore(refactor): biome format and lint
  cz.config.js
  release.config.mjs
  src/core/baseException/BaseException.ts
  src/core/exception/Exception.spec.ts
  src/core/exception/Exception.ts
Due: eslint --fix, prettier --write

fix(ci): replaced test:unit with test
  .github/workflows/release.yml
Due: none

feat(core): expose Exception
  src/index.ts
Due: eslint --fix, prettier --write

feat(core): update lintstagedrc and using biome
  .lintstagedrc.json
Due: prettier --write

feat(deps): add tsup
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(core): init tsup.config
  tsup.config.ts
Due: eslint --fix, prettier --write

chore(setup): fmt
  biome.json
Due: prettier --write

fix(setup): replace boilerplate with exc
  package.json
Due: prettier --write

fix(ci): add git config
  .github/workflows/release.yml
Due: none

feat(setup): ignore dist directory
  biome.json
Due: prettier --write

fix(setup): fix the order of biome steps
  .lintstagedrc.json
Due: prettier --write

fix(setup): revise lint command to fix issues
  package.json
Due: prettier --write

chore(setup): improve code readability
  .github/workflows/release.yml
Due: none

fix(ci): skip precommit hooks in ci
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore: release v0.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(setup): add new rules to release-it git and set npm publish to true
  package.json
Due: prettier --write

fix(ci): publish to npm issues
  .github/workflows/release.yml
  package.json
  release.config.mjs
Due: prettier --write

chore: release v0.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(setup): move tests to __tests__ directory
  __tests__/Exception.spec.ts
Due: eslint --fix, prettier --write

feat(setup): init .npmignore
  .npmignore
Due: none

chore(setup): remove comments and exclude tests
  tsconfig.json
Due: prettier --write

feat(setup): add prepublish command
  package.json
Due: prettier --write

fix(setup): remove `types` field from `package.json`
  package.json
Due: prettier --write

chore: release v0.0.2
  CHANGELOG.md
  package.json
Due: prettier --write
